<form class="{{cssClass}} flexcol" autocomplete="off">
  {{#if isImported}}
  <div class="import-warning">
    <i class="fas fa-lock"></i>
    {{localize "STREET_FIGHTER.Character.readOnlyWarning"}}
  </div>
  {{/if}}

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-action="editImage" data-field="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'STREET_FIGHTER.Common.name'}}" {{#if isImported}}disabled{{/if}} />
      </h1>
      {{!-- Fighting Style in header --}}
      {{#each items.fightingStyles as |style|}}
      <div class="header-style" data-item-id="{{style.id}}">
        <span class="style-label">{{localize "STREET_FIGHTER.Item.Types.fightingStyle"}}:</span>
        <span class="style-name">{{style.name}}</span>
      </div>
      {{/each}}
      <div class="header-details">
        <div class="form-group">
          <label>{{localize "STREET_FIGHTER.Profile.concept"}}</label>
          <input type="text" name="system.profile.concept" value="{{systemData.profile.concept}}" {{#if isImported}}disabled{{/if}} />
        </div>
        <div class="form-group">
          <label>{{localize "STREET_FIGHTER.Profile.playerName"}}</label>
          <input type="text" name="system.profile.playerName" value="{{systemData.profile.playerName}}" {{#if isImported}}disabled{{/if}} />
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item active" data-tab="traits">{{localize "STREET_FIGHTER.Tabs.traits"}}</a>
    <a class="item" data-tab="maneuvers">{{localize "STREET_FIGHTER.Tabs.maneuvers"}}</a>
    <a class="item" data-tab="resources">{{localize "STREET_FIGHTER.Tabs.resources"}}</a>
    <a class="item" data-tab="effects">{{localize "STREET_FIGHTER.Tabs.effects"}}</a>
    <a class="item" data-tab="biography">{{localize "STREET_FIGHTER.Tabs.biography"}}</a>
  </nav>

  <section class="sheet-body">
    {{!-- Traits Tab (Attributes, Abilities, Techniques, Backgrounds) --}}
    <div class="tab active" data-group="primary" data-tab="traits">
      {{!-- Attributes - 3 columns by category --}}
      <div class="traits-section">
        <h3>{{localize "STREET_FIGHTER.Item.Types.attribute"}}</h3>
        <div class="traits-columns">
          {{!-- Physical --}}
          <div class="trait-column">
            <h4>{{localize "STREET_FIGHTER.Categories.physical"}}</h4>
            <ul class="trait-list">
              {{#each items.attributesByCategory.physical as |attr|}}
              <li class="trait-item" data-item-id="{{attr.id}}">
                <span class="trait-name">{{attr.name}}</span>
                {{{circlePips attr.system.value 8}}}
                {{#unless ../../isImported}}
                <div class="item-controls">
                  <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
                </div>
                {{/unless}}
              </li>
              {{/each}}
            </ul>
          </div>
          {{!-- Social --}}
          <div class="trait-column">
            <h4>{{localize "STREET_FIGHTER.Categories.social"}}</h4>
            <ul class="trait-list">
              {{#each items.attributesByCategory.social as |attr|}}
              <li class="trait-item" data-item-id="{{attr.id}}">
                <span class="trait-name">{{attr.name}}</span>
                {{{circlePips attr.system.value 8}}}
                {{#unless ../../isImported}}
                <div class="item-controls">
                  <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
                </div>
                {{/unless}}
              </li>
              {{/each}}
            </ul>
          </div>
          {{!-- Mental --}}
          <div class="trait-column">
            <h4>{{localize "STREET_FIGHTER.Categories.mental"}}</h4>
            <ul class="trait-list">
              {{#each items.attributesByCategory.mental as |attr|}}
              <li class="trait-item" data-item-id="{{attr.id}}">
                <span class="trait-name">{{attr.name}}</span>
                {{{circlePips attr.system.value 8}}}
                {{#unless ../../isImported}}
                <div class="item-controls">
                  <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
                </div>
                {{/unless}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      {{!-- Abilities - 3 columns by category --}}
      <div class="traits-section">
        <h3>{{localize "STREET_FIGHTER.Item.Types.ability"}}</h3>
        <div class="traits-columns">
          {{!-- Talents --}}
          <div class="trait-column">
            <h4>{{localize "STREET_FIGHTER.Categories.talents"}}</h4>
            <ul class="trait-list">
              {{#each items.abilitiesByCategory.talents as |ability|}}
              <li class="trait-item" data-item-id="{{ability.id}}">
                <span class="trait-name">{{ability.name}}</span>
                {{{circlePips ability.system.value 8}}}
                {{#unless ../../isImported}}
                <div class="item-controls">
                  <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
                </div>
                {{/unless}}
              </li>
              {{/each}}
            </ul>
          </div>
          {{!-- Skills --}}
          <div class="trait-column">
            <h4>{{localize "STREET_FIGHTER.Categories.skills"}}</h4>
            <ul class="trait-list">
              {{#each items.abilitiesByCategory.skills as |ability|}}
              <li class="trait-item" data-item-id="{{ability.id}}">
                <span class="trait-name">{{ability.name}}</span>
                {{{circlePips ability.system.value 8}}}
                {{#unless ../../isImported}}
                <div class="item-controls">
                  <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
                </div>
                {{/unless}}
              </li>
              {{/each}}
            </ul>
          </div>
          {{!-- Knowledge --}}
          <div class="trait-column">
            <h4>{{localize "STREET_FIGHTER.Categories.knowledge"}}</h4>
            <ul class="trait-list">
              {{#each items.abilitiesByCategory.knowledge as |ability|}}
              <li class="trait-item" data-item-id="{{ability.id}}">
                <span class="trait-name">{{ability.name}}</span>
                {{{circlePips ability.system.value 8}}}
                {{#unless ../../isImported}}
                <div class="item-controls">
                  <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
                </div>
                {{/unless}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      {{!-- Techniques and Backgrounds - side by side --}}
      <div class="traits-row">
        {{!-- Techniques --}}
        <div class="traits-section traits-half">
          <h3>{{localize "STREET_FIGHTER.Item.Types.technique"}}</h3>
          <ul class="trait-list">
            {{#each items.techniques as |tech|}}
            <li class="trait-item" data-item-id="{{tech.id}}">
              <span class="trait-name">{{tech.name}}</span>
              {{{circlePips tech.system.value 8}}}
              {{#unless ../isImported}}
              <div class="item-controls">
                <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
              </div>
              {{/unless}}
            </li>
            {{/each}}
          </ul>
        </div>

        {{!-- Backgrounds --}}
        <div class="traits-section traits-half">
          <h3>{{localize "STREET_FIGHTER.Item.Types.background"}}</h3>
          <ul class="trait-list">
            {{#each items.backgrounds as |bg|}}
            <li class="trait-item" data-item-id="{{bg.id}}">
              <span class="trait-name">{{bg.name}}</span>
              {{{circlePips bg.system.value 5}}}
              {{#unless ../isImported}}
              <div class="item-controls">
                <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
              </div>
              {{/unless}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    {{!-- Maneuvers Tab --}}
    <div class="tab" data-group="primary" data-tab="maneuvers">
      <div class="traits-section">
        <h3>{{localize "STREET_FIGHTER.Item.Types.specialManeuver"}}</h3>
        <ul class="item-list">
          {{#each items.specialManeuvers as |maneuver|}}
          <li class="item" data-item-id="{{maneuver.id}}">
            <span class="item-name">{{maneuver.name}}</span>
            <span class="item-category">{{maneuver.system.category}}</span>
            <div class="item-controls">
              <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
              {{#unless ../isImported}}
              <a data-action="deleteItem" title="{{localize 'STREET_FIGHTER.Common.delete'}}"><i class="fas fa-trash"></i></a>
              {{/unless}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>

      <div class="traits-section">
        <h3>{{localize "STREET_FIGHTER.Item.Types.weapon"}}</h3>
        <ul class="item-list">
          {{#each items.weapons as |weapon|}}
          <li class="item" data-item-id="{{weapon.id}}">
            <span class="item-name">{{weapon.name}}</span>
            <div class="item-controls">
              <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
              {{#unless ../isImported}}
              <a data-action="deleteItem" title="{{localize 'STREET_FIGHTER.Common.delete'}}"><i class="fas fa-trash"></i></a>
              {{/unless}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    {{!-- Resources Tab --}}
    <div class="tab" data-group="primary" data-tab="resources">
      <div class="resources-section">
        {{!-- Health --}}
        <div class="resource-row">
          <label>{{localize "STREET_FIGHTER.Resources.health"}}</label>
          {{{circlePips (subtract systemData.resources.health.max systemData.resources.health.damageTaken) systemData.resources.health.max class="resource-pips" dataAttrs="data-resource=\"health\""}}}
          <span class="resource-value">{{subtract systemData.resources.health.max systemData.resources.health.damageTaken}} / {{systemData.resources.health.max}}</span>
        </div>

        {{!-- Chi --}}
        <div class="resource-row">
          <label>{{localize "STREET_FIGHTER.Resources.chi"}}</label>
          {{{circlePips (subtract systemData.resources.chi.value systemData.resources.chi.spent) systemData.resources.chi.max class="resource-pips" dataAttrs="data-resource=\"chi\""}}}
          <span class="resource-value">{{subtract systemData.resources.chi.value systemData.resources.chi.spent}} / {{systemData.resources.chi.max}}</span>
        </div>

        {{!-- Willpower --}}
        <div class="resource-row">
          <label>{{localize "STREET_FIGHTER.Resources.willpower"}}</label>
          {{{circlePips (subtract systemData.resources.willpower.value systemData.resources.willpower.spent) systemData.resources.willpower.max class="resource-pips" dataAttrs="data-resource=\"willpower\""}}}
          <span class="resource-value">{{subtract systemData.resources.willpower.value systemData.resources.willpower.spent}} / {{systemData.resources.willpower.max}}</span>
        </div>

        {{!-- Honor --}}
        <div class="resource-row">
          <label>{{localize "STREET_FIGHTER.Renown.honor"}}</label>
          {{{circlePips systemData.renown.honor.permanent 10 dataAttrs="data-resource=\"honor\""}}}
          <span class="resource-value">{{systemData.renown.honor.permanent}} ({{systemData.renown.honor.temporary}})</span>
        </div>

        {{!-- Glory --}}
        <div class="resource-row">
          <label>{{localize "STREET_FIGHTER.Renown.glory"}}</label>
          {{{circlePips systemData.renown.glory.permanent 10 dataAttrs="data-resource=\"glory\""}}}
          <span class="resource-value">{{systemData.renown.glory.permanent}} ({{systemData.renown.glory.temporary}})</span>
        </div>

        {{!-- Experience --}}
        <div class="resource-row">
          <label>{{localize "STREET_FIGHTER.Experience.title"}}</label>
          <span class="resource-value">{{systemData.experience.spent}} / {{systemData.experience.total}}</span>
        </div>
      </div>

      {{!-- Divisions --}}
      <div class="traits-section">
        <h3>{{localize "STREET_FIGHTER.Item.Types.division"}}</h3>
        <ul class="division-list">
          {{#each items.divisions as |division|}}
          <li class="division-item" data-item-id="{{division.id}}">
            <div class="division-header">
              <span class="division-name">{{division.name}}</span>
              <span class="division-rank">{{localize "STREET_FIGHTER.Division.rank"}}: {{division.system.rank}}</span>
              {{#unless ../isImported}}
              <div class="item-controls">
                <a data-action="editItem" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
              </div>
              {{/unless}}
            </div>
            <div class="division-stats">
              <span class="division-stat">
                <i class="fas fa-trophy"></i>
                {{localize "STREET_FIGHTER.Division.wins"}}: {{division.system.wins}}
              </span>
              <span class="division-stat">
                <i class="fas fa-handshake"></i>
                {{localize "STREET_FIGHTER.Division.draws"}}: {{division.system.draws}}
              </span>
              <span class="division-stat">
                <i class="fas fa-times-circle"></i>
                {{localize "STREET_FIGHTER.Division.losses"}}: {{division.system.losses}}
              </span>
              <span class="division-stat">
                <i class="fas fa-fist-raised"></i>
                {{localize "STREET_FIGHTER.Division.knockouts"}}: {{division.system.knockouts}}
              </span>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-group="primary" data-tab="effects">
      {{!-- Passive Effects --}}
      <div class="effects-section">
        <h3>
          <i class="fas fa-shield-alt"></i>
          {{localize "STREET_FIGHTER.Effects.passive"}}
        </h3>
        <ul class="effect-list">
          {{#each effects.passive as |effect|}}
          <li class="effect-item" data-effect-id="{{effect.id}}">
            <img class="effect-icon" src="{{effect.icon}}" alt="{{effect.name}}" />
            <span class="effect-name">{{effect.name}}</span>
            <div class="effect-controls">
              <a data-action="toggleEffect" title="{{localize 'STREET_FIGHTER.Effects.toggle'}}">
                <i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
              </a>
              {{#unless ../isImported}}
              <a data-action="editEffect" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
              <a data-action="deleteEffect" title="{{localize 'STREET_FIGHTER.Common.delete'}}"><i class="fas fa-trash"></i></a>
              {{/unless}}
            </div>
          </li>
          {{else}}
          <li class="effect-empty">{{localize "STREET_FIGHTER.Effects.noPassive"}}</li>
          {{/each}}
        </ul>
      </div>

      {{!-- Temporary Effects --}}
      <div class="effects-section">
        <h3>
          <i class="fas fa-clock"></i>
          {{localize "STREET_FIGHTER.Effects.temporary"}}
        </h3>
        <ul class="effect-list">
          {{#each effects.temporary as |effect|}}
          <li class="effect-item" data-effect-id="{{effect.id}}">
            <img class="effect-icon" src="{{effect.icon}}" alt="{{effect.name}}" />
            <span class="effect-name">{{effect.name}}</span>
            {{#if effect.duration.label}}
            <span class="effect-duration">{{effect.duration.label}}</span>
            {{/if}}
            <div class="effect-controls">
              <a data-action="toggleEffect" title="{{localize 'STREET_FIGHTER.Effects.toggle'}}">
                <i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
              </a>
              {{#unless ../isImported}}
              <a data-action="editEffect" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
              <a data-action="deleteEffect" title="{{localize 'STREET_FIGHTER.Common.delete'}}"><i class="fas fa-trash"></i></a>
              {{/unless}}
            </div>
          </li>
          {{else}}
          <li class="effect-empty">{{localize "STREET_FIGHTER.Effects.noTemporary"}}</li>
          {{/each}}
        </ul>
      </div>

      {{!-- Inactive Effects --}}
      <div class="effects-section">
        <h3>
          <i class="fas fa-ban"></i>
          {{localize "STREET_FIGHTER.Effects.inactive"}}
        </h3>
        <ul class="effect-list">
          {{#each effects.inactive as |effect|}}
          <li class="effect-item effect-disabled" data-effect-id="{{effect.id}}">
            <img class="effect-icon" src="{{effect.icon}}" alt="{{effect.name}}" />
            <span class="effect-name">{{effect.name}}</span>
            <div class="effect-controls">
              <a data-action="toggleEffect" title="{{localize 'STREET_FIGHTER.Effects.toggle'}}">
                <i class="fas fa-toggle-off"></i>
              </a>
              {{#unless ../isImported}}
              <a data-action="editEffect" title="{{localize 'STREET_FIGHTER.Common.edit'}}"><i class="fas fa-edit"></i></a>
              <a data-action="deleteEffect" title="{{localize 'STREET_FIGHTER.Common.delete'}}"><i class="fas fa-trash"></i></a>
              {{/unless}}
            </div>
          </li>
          {{else}}
          <li class="effect-empty">{{localize "STREET_FIGHTER.Effects.noInactive"}}</li>
          {{/each}}
        </ul>
      </div>

      {{!-- Add Effect Button --}}
      {{#unless isImported}}
      <div class="effect-add">
        <button type="button" data-action="createEffect">
          <i class="fas fa-plus"></i>
          {{localize "STREET_FIGHTER.Effects.add"}}
        </button>
      </div>
      {{/unless}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab" data-group="primary" data-tab="biography">
      <div class="biography-section">
        <h3>{{localize "STREET_FIGHTER.Tabs.biography"}}</h3>
        {{#if isEditable}}
        <prose-mirror name="system.biography" button="true" toggled="true" value="{{systemData.biography}}">
          {{{enrichedBiography}}}
        </prose-mirror>
        {{else}}
        <div class="editor-content">{{{enrichedBiography}}}</div>
        {{/if}}
      </div>
      <div class="biography-section">
        <h3>{{localize "STREET_FIGHTER.Profile.background"}}</h3>
        {{#if isEditable}}
        <prose-mirror name="system.background" button="true" toggled="true" value="{{systemData.background}}">
          {{{enrichedBackground}}}
        </prose-mirror>
        {{else}}
        <div class="editor-content">{{{enrichedBackground}}}</div>
        {{/if}}
      </div>
      <div class="biography-section">
        <h3>{{localize "STREET_FIGHTER.Profile.motivations"}}</h3>
        {{#if isEditable}}
        <prose-mirror name="system.motivations" button="true" toggled="true" value="{{systemData.motivations}}">
          {{{enrichedMotivations}}}
        </prose-mirror>
        {{else}}
        <div class="editor-content">{{{enrichedMotivations}}}</div>
        {{/if}}
      </div>
    </div>
  </section>
</form>
