<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-action="editImage" data-field="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'STREET_FIGHTER.Item.Types.technique'}}" />
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item active" data-tab="details">{{localize "STREET_FIGHTER.Tabs.details"}}</a>
    <a class="item" data-tab="effects">{{localize "STREET_FIGHTER.Tabs.effects"}}</a>
  </nav>

  <section class="sheet-body">
    {{!-- Details Tab --}}
    <div class="tab active" data-group="primary" data-tab="details">
      <div class="form-group">
        <label>{{localize "STREET_FIGHTER.Common.sourceId"}}</label>
        <input type="text" name="system.sourceId" value="{{systemData.sourceId}}" placeholder="e.g., punch" readonly />
      </div>

      <div class="form-group">
        <label>{{localize "STREET_FIGHTER.Common.description"}}</label>
        {{#if isEditable}}<prose-mirror name="system.description" button="true" toggled="true" value="{{systemData.description}}">{{{enrichedDescription}}}</prose-mirror>{{else}}<div class="editor-content">{{{enrichedDescription}}}</div>{{/if}}
      </div>

      <div class="form-row checkbox-row">
        <div class="form-group checkbox-group">
          <input type="checkbox" name="system.isOptional" id="isOptional" {{checked systemData.isOptional}} />
          <label for="isOptional">{{localize "STREET_FIGHTER.Trait.isOptional"}}</label>
        </div>
      </div>
      
      <div class="form-group">
        <label>{{localize "STREET_FIGHTER.Trait.techniqueType"}}</label>
        <select name="system.techniqueType">
          <option value="normal" {{#unless systemData.isWeaponTechnique}}{{#unless systemData.isFirearmTechnique}}selected{{/unless}}{{/unless}}>{{localize "STREET_FIGHTER.Technique.normalTechnique"}}</option>
          <option value="weapon" {{#if systemData.isWeaponTechnique}}selected{{/if}}>{{localize "STREET_FIGHTER.Trait.isWeaponTechnique"}}</option>
          <option value="firearm" {{#if systemData.isFirearmTechnique}}selected{{/if}}>{{localize "STREET_FIGHTER.Trait.isFirearmTechnique"}}</option>
        </select>
      </div>

      <details class="advanced-section">
        <summary>{{localize "STREET_FIGHTER.Tabs.costs"}}</summary>
        <div class="form-row">
          <div class="form-group">
            <label>{{localize "STREET_FIGHTER.Trait.bonusPointCost"}}</label>
            <input type="number" name="system.bonusPointCost" value="{{systemData.bonusPointCost}}" min="0" />
          </div>
          <div class="form-group">
            <label>{{localize "STREET_FIGHTER.Trait.experiencePointCost"}}</label>
            <input type="number" name="system.experiencePointCost" value="{{systemData.experiencePointCost}}" min="0" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>{{localize "STREET_FIGHTER.Trait.startLevel"}}</label>
            <input type="number" name="system.startLevel" value="{{systemData.startLevel}}" min="0" />
          </div>
          <div class="form-group">
            <label>{{localize "STREET_FIGHTER.Trait.experiencePointCostOnStartLevel"}}</label>
            <input type="number" name="system.experiencePointCostOnStartLevel" value="{{systemData.experiencePointCostOnStartLevel}}" min="0" />
          </div>
        </div>
      </details>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-group="primary" data-tab="effects">
      {{> "systems/street-fighter/templates/item/partials/item-effects-tab.hbs"}}
    </div>
  </section>
</form>
